{% extends "layout.html" %}
{% block content %}

    <!-- Header -->
    <section class="section_header_carbon_app">
        <div class="container">
    
        <div class="header_carbon_app">
            <div class="box"> 
            <h1 style="font-size:55px;"><span class="text-logo"> Carbon App Calculator</span></h1>
            <p style="text-align:left;">
              Welcome to our carbon app calculator! The goal of our app is to give people knowledge about their travel-emissions, so they could get inspired to change them for a greener future!               
            </p>
            <p style="text-align: left">
              To get started, please choose the form of transportation you would like to use, and fill in the requested input. For cars, it will be distance traveled in kms, type of fuel, and the amount of passengers, while for public transport and fossil-free traveling, the app will only request you to fill in the distance traveled in kms. When you have filled in the requested info, and submitted, the app will give you both visual- and numerical results. The app will also give you a suggestion, for a greener way of traveling. All of your submissions will be saved in the app, so you can both see your old travels, as well as compare them with your new ones.

            </p>
            <div class="container_buttons_links_header_carbon_app">
                <div class="btn">
                    <a href="{{url_for('methodology.methodology_home')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#56C02B;border-color:#3d8023;">Methodology</a>
                </div>
                <div class="btn">
                    <a href="{{url_for('carbon_app.your_data')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#56C02B;border-color:#3d8023;">Your data</a>
                </div>
            </div>  
            </div>
            <div class="box">
            <img 
                src="{{url_for('static', filename='icons/calculator.svg')}}"
                width="325" 
                height="325"
                alt=""/>
            </div>
        </div>
        
        </div>
    </section> 

    <!-- carbon_app_new_entry_main -->
    <section class="section_carbon_app_new_entry_main">
    <div class="container">
  
      <div class="carbon_app_new_entry_main" style="display:block;">
        <br>
        <h3 style="text-align:center;">Please select your mean of transport from the buttons below</h3>     
      </div>
  
      <div class="carbon_app_new_entry_main">
          <div class="button">
            <div class="h1 mb-3" style="text-align: center;">
                <i class="fa-solid fa-bus"></i>
            </div>
            <h3></h3>
            <p>
            </p>
            <div class="section_container_buttons_carbon_app_new_entry_main">
              <a class="btn_carbon_app_new_entry_main" href="{{url_for('carbon_app.new_entry_bus')}}">Bus</a>
            </div> 
          </div>
          <div class="button">
            <div class="h1 mb-3" style="text-align: center;">
                <i class="fa-solid fa-car"></i>
            </div>
            <h3></h3>
            <p>
            </p>
            <div class="section_container_buttons_carbon_app_new_entry_main">
              <a class="btn_carbon_app_new_entry_main" href="{{url_for('carbon_app.new_entry_car')}}">Car small</a>
            </div> 
          </div>  
          <div class="button">
            <div class="h1 mb-3" style="text-align: center;">
                <i class="fa-solid fa-car"></i>
            </div>
            <h3></h3>
            <p>
            </p>
            <div class="section_container_buttons_carbon_app_new_entry_main">
              <a class="btn_carbon_app_new_entry_main" href="{{url_for('carbon_app.new_entry_carSUV')}}">Car SUV</a>
            </div> 
          </div>         
          <div class="button">
            <div class="h1 mb-3" style="text-align: center;">
                <i class="fa-solid fa-plane"></i>
            </div>
            <h3></h3>
            <p>
            </p>
            <div class="section_container_buttons_carbon_app_new_entry_main">
              <a class="btn_carbon_app_new_entry_main" href="{{url_for('carbon_app.new_entry_long_haul_flight')}}">Long-haul Flight</a>
            </div> 
          </div>
          <div class="button">
            <div class="h1 mb-3" style="text-align: center;">
                <i class="fa-solid fa-plane"></i>
            </div>
            <h3></h3>
            <p>
            </p>
            <div class="section_container_buttons_carbon_app_new_entry_main">
              <a class="btn_carbon_app_new_entry_main" href="{{url_for('carbon_app.new_entry_domestic_flight')}}">Domestic flight</a>
            </div> 
          </div>
          <div class="button">
            <div class="h1 mb-3" style="text-align: center;">
              <i class="fa-solid fa-bus"></i>
            </div>
            <h3></h3>
            <p>
            </p>
            <div class="section_container_buttons_carbon_app_new_entry_main">
              <a class="btn_carbon_app_new_entry_main" href="{{url_for('carbon_app.new_entry_long_distance_bus')}}">Long distance bus</a>
            </div> 
          </div>    
      </div>
      <div class="carbon_app_new_entry_main">
        <div class="button">
          <div class="h1 mb-3" style="text-align: center;">
              <i class="fa-solid fa-ship"></i>
          </div>
          <h3></h3>
          <p>
          </p>
          <div class="section_container_buttons_carbon_app_new_entry_main">
            <a class="btn_carbon_app_new_entry_main" href="{{url_for('carbon_app.new_entry_ferry')}}">Ferry</a>
          </div> 
        </div>  
        <div class="button">
          <div class="h1 mb-3" style="text-align: center;">
              <i class="fa-solid fa-train"></i>
          </div>
          <h3></h3>
          <p>
          </p>
          <div class="section_container_buttons_carbon_app_new_entry_main">
            <a class="btn_carbon_app_new_entry_main" href="{{url_for('carbon_app.new_entry_train')}}">Train</a>
          </div> 
        </div>
        <div class="button">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="fa-solid fa-train"></i>
          </div>
          <h3></h3>
          <p>
          </p>
          <div class="section_container_buttons_carbon_app_new_entry_main">
            <a class="btn_carbon_app_new_entry_main" href="{{url_for('carbon_app.new_entry_tram')}}">Tram</a>
          </div> 
        </div>   
        <div class="button">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="fa-solid fa-bicycle"></i>
          </div>
          <h3></h3>
          <p>
          </p>
          <div class="section_container_buttons_carbon_app_new_entry_main">
            <a class="btn_carbon_app_new_entry_main" href="{{url_for('carbon_app.new_entry_bicycle')}}">Bicycle</a>
          </div> 
        </div>
        
        <div class="button">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="fa-solid fa-person-walking"></i>
          </div>
          <h3></h3>
          <p>
          </p>
          <div class="section_container_buttons_carbon_app_new_entry_main">
            <a class="btn_carbon_app_new_entry_main" href="{{url_for('carbon_app.new_entry_walk')}}">Walk</a>
          </div> 
        </div> 
    </div>
  
    </div>          
    </section>
       

{% endblock content %}
