<!DOCTYPE html>
<html>
<head>
</head>
<body>
  {% extends "layout.html" %}
  {% block content %}

  <!-- Connect to css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='about_us.css') }}">
  
  <!-- Developers -->
  <section class="section_developers">
      <div class="container">
    
        <div class="developers" style="display:block;">
          <h1 style="text-align:center;"> Our Team</h1>
          <p>
          </p>      
        </div>
    
        <div class="developers">
            <div class="box" >
              <img src="static/images/IMG_0037.jpg" alt="" style="border-radius: 50%; width: 200px; height: 200px;" >
              <h3>Emelie Nyström</h3>
              <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
              </p>
              <div class="container_buttons_developers">
                <a class="btn_developers" href="#"  target="_blank">LinkedIn</a>
              </div> 
            </div>
            <div class="box">
              <img src="static/images/me.jpg" alt="" style="border-radius: 50%; width:200px; height: 200px;">
              <h3>Fredrik Sælemyr</h3>
              <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
              </p>
              <div class="container_buttons_developers">
                <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
              </div> 
            </div> 
            <div class="box">
              <img src="static/images/Elsa.jpeg" alt="" style="border-radius: 50%; width:200px; height: 200px;">
              <h3>Elsa Brunet</h3>
              <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
              </p>
              <div class="container_buttons_developers">
                <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
              </div> 
            </div>    
            <div class="box">
              <img src="static/images/Julen.jpg" alt="" style="border-radius: 50%; width:200px; height: 200px;">
              <h3>Julen Gago</h3>
              <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
              </p>
              <div class="container_buttons_developers">
                <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
              </div> 
            </div>   
        </div>
    
        <div class="developers">
          <div class="box2">
            <img src="https://randomuser.me/api/portraits/women/13.jpg" alt="" style="border-radius: 50%; width:200px; height: 200px;">
            <h3>Sondre Bøygard</h3>
            <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
            </p>
            <div class="container_buttons_developers">
              <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
            </div> 
          </div>
          <div class="box2">
            <img src="static/images/Thomas.jpg" alt="" style="border-radius: 50%; width:200px; height: 200px;">
            <h3>Thomas André Vindenes</h3>
            <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
            </p>
            <div class="container_buttons_developers">
              <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
            </div> 
          </div>           
          <div class="box2">
            <img src="static/images/Alexander.png" alt="" style="border-radius: 50%; width:200px; height: 200px;">
            <h3>Alexander Fardal Kjellevold</h3>
            <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
            </p>
            <div class="container_buttons_developers">
              <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
            </div> 
          </div>  
      </div>
  
             
      </div>
      </div>          
  </section>
  
  {% endblock content %}
</body>
</html>
