/* Colors */
/* Darkgreen = 13. Climate Action = #3F7E44*/
/* Lime green = 15. Life on Land = #56C02B */
/* UN Logo Blue =  #009EDB */

/* Our Vision */
.our-vision {
    background: #3F7E44; /* Dark green background, adjust the color as needed */
    background-image: url('/static/images/nature2.jpg');
    background-size: cover;
    color: #fff; /* White text */
    padding: 150px 0; /* Add padding for spacing */
    text-align: center; /* Center align the text */
  }
  
  .vision-container {
    max-width: 1200px; /* Adjust the width as necessary */
    margin: 0 auto; /* Center the container */
    padding: 50px;
  }
  
  .our-vision h2 {
    font-size: 3.5em; /* Large font size for the heading */
    margin-bottom: 20px; /* Spacing between the heading and the paragraph */
  }
  
  .our-vision p {
    font-size: 2.2em; /* Readable font size for the paragraph */
    line-height: 1.6; /* Line height for paragraph readability */
    max-width: 800px; /* Max width for the paragraph to maintain readability */
    margin: 0 auto; /* Center the text block */
  }
  
  /* Section developers */
  .section_developers {
      background-color: white;
      padding: 50px 0;
  }
  
  .developers {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 35px; /* This already sets the gap between the boxes */
  }
  
  .box {
      background: #f1f4f7;
      color: #3F7E44; /* Dark green text */
      border-radius: 10px;
      padding: 20px;
      text-align: center;
      width: 250px; /* Adjust the width as necessary */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: transform 0.3s ease;
  }
  
  /* Hover effect for boxes */
  .box:hover {
      transform: scale(1.05);
  }
  
  .box img {
      border-radius: 50%;
      width: 120px; /* Adjust size as necessary */
      height: 120px; /* Adjust size as necessary */
      object-fit: cover; /* Ensures the images cover the area nicely */
      align-self: center;
      margin-bottom: 15px;
  }
  
  .box h3 {
      margin-bottom: 10px; /* Reduced from 30px to accommodate title */
  }
  
  /* Title styling for each box */
  .box .title {
      font-size: 1.25em; /* Smaller font size for the title */
      color: #555; /* Darker color for the title */
      margin-bottom: 20px; /* Space between the title and the paragraph */
      font-weight: bold; /* Make the title bold */
  }
  
  .box p {
      flex-grow: 1; /* Makes the paragraph take up any extra space */
  }
  
  /* Button style for LinkedIn links */
  .btn_developers {
      display: inline-block;
      background-color: #0077b5; /* LinkedIn color */
      color: white;
      padding: 8px 15px;
      margin-top: 10px;
      text-decoration: none;
      border-radius: 4px;
      font-size: 0.9em;
      align-self: center;
      cursor: pointer;
  }
  
  /* LinkedIn Icon */
  .fa-linkedin {
      margin-right: 8px;
  }
  
  /* Increase the bottom margin of the first row of boxes */
  .developers .box:nth-of-type(-n+4) {
      margin-bottom: 35px; /* Increased space between the first and second row */
  }
  
  @media (max-width: 1024px) {
      .our-vision {
     text-align: center;
      }
      .developers {
        justify-content: space-between;
      }
  
      .box {
        width: 45%; /* Adjust the width as necessary */
      }
  }
  
  @media (max-width: 768px) {
      .developers {
        justify-content: center;
      }
  
      .box {
        width: 80%; /* Adjust the width as necessary */
      }
  }
  
