/* Colors */
/* Darkgreen = 13. Climate Action = #3F7E44*/
/* Lime green = 15. Life on Land = #56C02B */
/* UN Logo Blue =  #009EDB */
/* UN Light Grey =  #f1f1f1 */

/* Our Vision */
.our-vision {
    background-image: url('/static/images/nature2.jpg');
    background-size: cover;
    color: #3F7E44; /* White text */
    padding: 150px 0; /* Add padding for spacing */
    text-align: center; /* Center align the text */
  }
  
  .vision-container {
    max-width: 1200px;  
    margin: 0 auto; 
    padding: 50px;

  }
  
  .our-vision h2 {
    font-size: 3.5em; 
    margin-bottom: 20px; 
  }
  
  .our-vision p {
    font-size: 2.2em; 
    line-height: 1.6; 
    max-width: 800px; 
    margin: 0 auto; 
  }
  
  /* Section developers */
  .section_developers {
      background-color: white;
      padding: 50px 0;
  }
  
  .developers {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 35px; /* Gap between boxes*/
  }
  
  .box1 {
      background: #f1f1f1;
      color: #3F7E44; /* Dark green text */
      border-radius: 10px;
      padding: 20px;
      text-align: center;
      width: 250px; /* Width adjustment */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: transform 0.3s ease;
  }
  
  /* Hover effect for boxes */
  .box1:hover {
      transform: scale(1.05);
  }
  
  .box1 img {
      border-radius: 50%;
      width: 120px; 
      height: 120px; 
      object-fit: cover; 
      align-self: center;
      margin-bottom: 15px;
  }
  
  .box1 h3 {
      margin-bottom: 10px; 
  }
  
  /* Title styling for each box */
  .box1 .title1 {
      font-size: 1.25em; 
      color: #555; 
      margin-bottom: 20px; /* Space between the title and the paragraph */
      font-weight: bold; 
  }
  
  .box1 p {
      flex-grow: 1; /* Makes the paragraph take up any extra space */
  }
.read-more-btn {
  background-color: transparent; 
  color: #3F7E44; 
  border: 2px solid #3F7E44;
  padding: 8px 15px; 
  text-decoration: none; 
  border-radius: 4px; 
  font-size: 0.9em; 
  cursor: pointer; 
  margin-top: 10px; 
  transition: background-color 0.3s, color 0.3s; 
}

.read-more-btn:hover {
  background-color: #3F7E44; /* Hover color */
  color: white; /* Text color when hover*/
}

.more {
  display: none; 
}

  
  /* Button style for LinkedIn links */
  .btn_developers {
      display: inline-block;
      background-color: #0077b5; /* LinkedIn color */
      color: white;
      padding: 8px 15px;
      margin-top: 10px;
      text-decoration: none;
      border-radius: 4px;
      font-size: 0.9em;
      align-self: center;
      cursor: pointer;
  }
  
  /* LinkedIn Icon */
  .fa-linkedin {
      margin-right: 8px;
  }
  
  /* Increase the bottom margin of the first row of boxes */
  .developers .box1:nth-of-type(-n+4) {
      margin-bottom: 35px; 
  }
  
  @media (max-width: 1024px) {
      .our-vision {
     text-align: center;
      }
      .developers {
        justify-content: space-between;
      }
  
      .box1 {
        width: 45%; 
      }
  }
  
  @media (max-width: 768px) {
      .developers {
        justify-content: center;
      }
  
      .box1 {
        width: 80%; 
      }
  }
  
