/* Colors */
/* Darkgreen = 13. Climate Action = #3F7E44 */
/* Lime green = 15. Life on Land = #56C02B */
/* UN Logo Blue =  #009EDB */

/* Base styles */
body {
    font-family: 'Arial', sans-serif; /* Consider a more unique font if matching a specific style */
    margin: 0;
    padding: 0;
    background-color: #fff; /* Light background to keep things clean and modern */
}

/* Section developers */
.section_developers {
    background-color: white;
    padding: 50px 20px; /* Added padding for spacing */
}

.developers {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
    justify-content: center; /* Center boxes */
    align-items: start;
    background: white;
    margin-bottom: 20px;
}

.developers .box, .developers .box2 {
    flex: 0 1 300px; /* Adjust size but allow shrinking */
    background: #f1f4f7;
    color: #3F7E44; /* Dark green for text */
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out content */
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-self: center; /* Center images */
    margin-bottom: 20px;
}

h3 {
    color: #009EDB; /* UN Logo Blue for headings */
    margin: 20px 0 10px;
}

p {
    font-size: 16px; /* Adjust font size for readability */
}

.container_buttons_developers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn_developers {
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    background-color: #3F7E44; /* Dark green */
    border: none; /* Remove border for a cleaner look */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.btn_developers:hover {
    color: #3F7E44; /* Dark green */
    background-color: #c5c8d9; /* Lighter background on hover */
}

@media (max-width: 768px) {
    .developers {
        flex-direction: column;
    }
    .container_buttons_developers {
        flex-direction: column;
    }
}
