/* Colors */
/* Darkgreen = 13. Climate Action = #3F7E44*/
/* Lime green = 15. Life on Land = #56C02B */
/* UN Logo Blue =  #009EDB */

/* Google fonts Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* CSS utilities */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  line-height: 1.6;
}
a{
  text-decoration: none;
  color: #3F7E44;
  font-size: 1rem;
}
.container {
  margin: auto;
  max-width: 1320px;
}
ul { 
  list-style: none;
  font-size: 400;
}
h1, h2 {
  font-weight: 400;
  line-height: 1.2;
}
p {
  margin: 10px 0;
  font-size: 18px;
}
img {
  width: 100%;
}
/* Navbar  */
.section_navbar {
  background-color:#fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 70px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 0px;
  justify-content: space-between;
}

.navbar a{
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 18px;
  text-decoration: none;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}
.navbar .logo {
  font-weight: 400;
  font-size: 1.5rem;
  font-weight: bold;
}
.text-logo {
    color:#3F7E44;
    font-size: 36px;
}
.navbar .logo a.logo-link, 
.navbar .logo a.logo-link:hover, 
.navbar .logo a.logo-link:focus, 
.navbar .logo a.logo-link:active {
  text-decoration: none;
}

/* Navbar auth links */
.auth-links-navbar {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-left: 10px; 
}

.auth-links-navbar .auth-link {
  margin: 5px 0; 
}

/* Dropdown Menu auth links */
.dropdown_menu .auth-links-dropdown {
  display: flex;
  justify-content: center; 
}

.dropdown_menu .auth-links-dropdown a {
  margin: 0 10px; 
}

/* Adjusted styles for auth links to match the navbar links */
.auth-links-navbar .auth-link {
  font-size: 12px; 
  padding: 0px 20px; 
  margin: 0 5px; 
  text-decoration: none; 
}


/* HEADER ACTIONBTN */

a:hover{
  color: #009EDB;
}

/* Header */
.navbar .toggle_btn{
  color: #fff;
  font-size: 1.5rem;
  cursor:pointer;
  display: none;
}

.navbar_actionbtn{
 background-color: #56C02B;
 color: #fff; 
 padding: 0.5rem 1rem;
 border: none;
 outline: none;
 border-radius: 20px;
 font-size: 0.8rem;
 font-weight: bold;
 cursor: pointer;
}

.navbar_actionbtn:hover{
  background-color: #009EDB;
  color: #fff;
}

/* Dropdown Menu */

.dropdown_menu{
  display: none;
  position:absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgb(255,255, 255, 0.1);
  backdrop-filter:blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}

.dropdown_menu.open{
  height: 300px;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}

.toggle_btn i {
  color: #56C02B; 
}

/* Responsive Design */
@media(max-width:992px){
  .navbar .links,
  .navbar .auth-link,
  .navbar .action_btn {
      display: none;
  }

  .navbar .toggle_btn {
      display: block;
  }

.dropdown_menu{
      display: block;
  }
}

  /* Footer CSS */
  
  .footer__container {
  
    background-color: #fff;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #footer__logo {
    color: #3F7E44; 
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
  }
  
  .footer__link--wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .footer__link--items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  
  .footer__link--items h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
  }
  
  .footer__link--items a {
    margin: 0 5px; 
  }
  
  .footer__link--items > h2 {
    color: #3F7E44; 
  }
  
  .footer__link--items a {
    color: #3F7E44; 
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  
  .footer__link--items a:hover {
    color: #009EDB; 
  }
  
  /* Social Icons */
  social__icon--link {
    color: #3F7E44; 
    font-size: 24px;
  }
  
  .social__media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .social__icons--link {
    color: #3F7E44; 
    justify-self: flex-start;
    margin-left:  20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .social__icons--link:hover {
    color: #009EDB; 
  }
  
  .footer__button {
    background: none;
    border: none;
    color: #3F7E44; 
    text-decoration: none;
    margin-bottom: 0.5rem;
    cursor: pointer;
    padding: 0;
    font-size: 1rem;
    font-family: inherit;
    display: inline;
  }
  
  .footer__button:hover {
    color: #009EDB;
    background-color: #fff;
  }
  
  @media screen and (max-width: 820px) {
  
    .footer__link--items {
      flex-direction: column;
      align-items: center;
      width: 100%;  
    }
  
    .footer__links {
      padding-top: 2rem;
    }
  
    #footer__logo {
      margin-bottom: 2rem;
    }
  
    .footer__link--wrapper {
      flex-direction: column;
    }
  
    .social__media--wrap {
      flex-direction: column;
    }
  }
@media(max-width:576px){
  .dropdown_menu{
      left:2rem;
      width:unset;
  }
}
