/* Colors */
/* Darkgreen = 13. Climate Action = #3F7E44*/
/* Lime green = 15. Life on Land = #56C02B */
/* UN Logo Blue =  #009EDB */

/* Title / Buttons and Introduction*/

.our-methodology .methodology-container{
    background: #fff; 
    background-size: cover;
    color: #3F7E44; 
    padding: 150px 0; 
    text-align: center; 
    align-items: start;
    justify-content: center;
}
.wave{
    margin: -1px;
    }

.our-methodology h2 {
font-size: 3.5em; 
margin-bottom: 15px; 
}

.methodology {
background: #3F7E44;
background-size: cover;
color: #fff;
padding: 0 0 100px 0; /* Top -> Right -> Buttom -> Left*/
text-align: center;
}

.methodology1 h2 {
    text-decoration: solid;
    margin-bottom: 20px; 
}

.methodology1 p {
display: flex;
flex-direction: column; 
align-items: center;
text-align: left; 
width: 100%; 
max-width: 800px;
margin: 0 auto; 
padding: 15px;
}

/* Formulas */
.content-wrapper {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap if needed, but we'll try to keep them side by side */
    max-width: 1200px;
    justify-content: space-between; /* Adjusts the space between the child elements */
    margin: 0 auto;
    gap: 20px; /* Adjust the gap to ensures some space between the columns */
}
  
.strategy-column {
    box-sizing: border-box; /* Includes padding and border in the element's total width */
    width: calc(50% - 10px); /* Adjusts for the gap, ensuring two boxes fit side by side in the parent */
    padding: 30px;
}
  
  .left {
    background-color: #fff;
    color: #000;
    box-shadow: 5px 5px #000;
  }
  
  .right {
    background-color: #fff;
    color: #000;
    box-shadow: 5px 5px #000;
  }
  
  .strategy-column h1 {
    margin-bottom: 1em; /* Space below the heading */
    padding-top: 0.5em; /* Space above the heading */
    padding: 10px;
    border-top: 4px solid; /* Solid line above the heading */
  }
  
  .left h1 {
    border-color: #3F7E44; /* Black line for the left column */
  }
  
  .right h1 {
    border-color: #3F7E44; /* White line for the right column */
  }
  
  .strategy-column p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0; /* Removes default top margin from paragraphs */
    margin-bottom: 1em; /* Space below paragraphs */
  }
  
  .strategy-column ul {
    list-style: none; /* Removes default list styling */
    padding-left: 0; /* Aligns list with the rest of the content */
    margin-top: 0; /* Removes default top margin from list */
  }

/* Adjustments for MathJax formulas */
.formula-mathjax {
  display: inline-block;
  transform-origin: top left;
  margin: 0 auto; /* Center the formula */
}

/* Responsive adjustments for formulas */

@media (max-width: 1200px) {
  .formula-mathjax {
      transform: scale(0.8);
  }
}
@media (max-width: 976px) {
  .formula-mathjax {
      transform: scale(0.7);
  }
}
@media (max-width: 862px) {
  .formula-mathjax {
      transform: scale(0.6);
  }
}
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .strategy-column {
      width: 100%; /* Columns stack on top of each other on smaller screens */
    }
  }

