{% extends "layout.html" %}
{% block content %}

  <!-- Our Vision -->
  <section class="our-vision">
    <div class="vision-container">
      <h2>Our Mission</h2>
      <p>Our aim is to heighten awareness about individual and corporate carbon emissions and demonstrate the simplicity and impact of reducing them.</p>
    </div>
  </section>

  <!-- Our Team -->
  <section class="section_developers">
      <div class="container">
    
        <div class="developers" style="display:block;">
          <h1 style="text-align:center;"> Our Team</h1>     
        </div>
    
        <!-- Start of team member section -->
        <div class="developers">
            
            <!-- Emelie Nyström -->
            <div class="box1">
              <img src="static/images/emelie.jpg" alt="Emelie Nyström" style="border-radius: 50%;" >
              <h3>Emelie Nyström</h3>
              <div class="title1">TechLead</div> <!-- Title goes here -->
              <p>
                Emilie, 23, is currently on exchange at NHH Norges Handelshøyskole in Bergen, Norway.
                <span></span>
                <span class="more" id="more1">While abroad, Emilie delves into diverse programming languages, leveraging Flask and MySQL for a project that bridges cultures. When she's not absorbed in academics, she finds solace in badminton matches and the pages of her favorite books, balancing her studies at Hanken Svenska Handelshögskolan in Helsinki, Finland, and Aalto University in Finland.</span>
              </p>
              <button class="read-more-btn" onclick="toggleReadMore('more1', this)">Read more</button>
              <div class="container_buttons_developers">
                <a class="btn_developers" href="https://www.linkedin.com/in/emelie-nystr%C3%B6m-125327235/1" target="_blank">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
              </div> 
            </div>
            
            <!-- Fredrik Sælemyr -->
            <div class="box1">
              <img src="static/images/fredrik.jpg" alt="Fredrik Sælemyr" style="border-radius: 50%;">
              <h3>Fredrik Sælemyr</h3>
              <div class="title1">Head of Design</div> <!-- Title goes here -->
              <p>
                Fredrik, 23, is currently in his third year of studies at NHH Norges Handelshøyskole in Bergen, Norway.
                <span></span>
                <span class="more" id="more2">When not immersed in his studies, Fredrik can often be found on the soccer field or tinkering with the latest in technology.</span>
              </p>
              <button class="read-more-btn" onclick="toggleReadMore('more2', this)">Read more</button>
              <div class="container_buttons_developers">
                <a class="btn_developers" href="https://www.linkedin.com/in/fredrik-s%C3%A6lemyr-64028228a/" target="_blank">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
              </div> 
            </div> 
            
            <!-- Elsa Brunet -->
            <div class="box1">
              <img src="static/images/Elsa.jpeg" alt="Elsa Brunet" style="border-radius: 50%;">
              <h3>Elsa Brunet</h3>
              <div class="title1">Business Development Director</div> <!-- Title goes here -->
              <p>
                Elsa, 23, born and raised in France, indulges in her greatest passion: reading.
                <span></span>
                <span class="more" id="more3"She's drawn to French literature but also delights in fantasy and foreign works, finding Paris an ideal backdrop to fully immerse herself in literature and art.</span>
              </p>
              <button class="read-more-btn" onclick="toggleReadMore('more3', this)">Read more</button>
              <div class="container_buttons_developers">
                <a class="btn_developers" href="https://www.linkedin.com/in/elsa-brunet/" target="_blank">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
              </div> 
            </div>    
            
            <!-- Julen Gago -->
            <div class="box1">
              <img src="static/images/Julen.jpg" alt="Julen Gago" style="border-radius: 50%;">
              <h3>Julen Gago</h3>
              <div class="title1">Developer, Design and Business model</div> <!-- Title goes here -->
              <p>
                 Julen, 21, hails from Bilbao, Spain, and is deeply passionate about sports.
                <span></span>
                <span class="more" id="more4">As a devoted Athletic Club de Bilbao fan and player, he's pursuing a Bachelor's in Business Administration + Finance, currently completing his final semester at NHH in Bergen. Beyond sports, he's intrigued by new technologies and advocates for sustainability and environmental care.</span>
              </p>
              <button class="read-more-btn" onclick="toggleReadMore('more4', this)">Read more</button>
              <div class="container_buttons_developers">
                <a class="btn_developers" href="https://www.linkedin.com/in/julen-g-004560255/" target="_blank">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
              </div> 
            </div>   
        </div>
    
        <div class="developers">
            
            <!-- Sondre Bøygard -->
            <div class="box1">
              <img src="static/images/Sondre.jpg" alt="Sondre Bøygard" style="border-radius: 50%;">
              <h3>Sondre Bøygard</h3>
              <div class="title1">App Developer</div> <!-- Title goes here -->
              <p>
                Sondre, 21, hails from Norway and is currently pursuing a bachelor's in economics and administration at The Norwegian School of Economics (NHH).
                <span></span>
                <span class="more" id="more5"Outside of academics, he finds joy in sports like cross-country skiing, running, and golf, as well as hiking and traveling in nature. His passion for sustainability drives his commitment to being environmentally conscious.</span>
              </p>
              <button class="read-more-btn" onclick="toggleReadMore('more5', this)">Read more</button>
              <div class="container_buttons_developers">
                <a class="btn_developers" href="https://www.linkedin.com/in/sondre-b%C3%B8ygard-669203267/" target="_blank">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
              </div> 
            </div>
            
            <!-- Thomas André Vindenes -->
            <div class="box1">
              <img src="static/images/Thomas.jpg" alt="Thomas André Vindenes" style="border-radius: 50%;">
              <h3>Thomas André Vindenes</h3>
              <div class="title1">Developer, Design and Business model</div> <!-- Title goes here -->
              <p>
                Thomas, 28, is currently in his second year of studies at The Norwegian School of Economics (NHH).
                <span></span>
                <span class="more" id="more6">Beyond academics, he immerses himself in music, playing guitar for various bands, indulging his love for gaming, and exploring his passion for cars.</span>
              </p>
              <button class="read-more-btn" onclick="toggleReadMore('more6', this)">Read more</button>
              <div class="container_buttons_developers">
                <a class="btn_developers" href="https://www.linkedin.com/in/thomas-andr%C3%A9-vindenes-b97187277/" target="_blank">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
              </div> 
            </div>           
            
            <!-- Alexander Kjellevold -->
            <div class="box1">
              <img src="static/images/Alexander.png" alt="Alexander Kjellevold" style="border-radius: 50%;">
              <h3>Alexander Fardal Kjellevold</h3>
              <div class="title1">App Developer</div> <!-- Title goes here -->
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <span></span>
                <span class="more" id="more7">Utvidet informasjon som du vil ha skjult i utgangspunktet.</span>
              </p>
              <button class="read-more-btn" onclick="toggleReadMore('more7', this)">Read more</button>
              <div class="container_buttons_developers">
                <a class="btn_developers" href="https://www.linkedin.com/in/alexander-f-kjellevold-b3430a235/" target="_blank">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
              </div> 
            </div>  
        </div>        
      </div>      
  </section>
  
  {% endblock content %}
</body>
</html>
